body {
    background-color: powderblue;
    background-image: url('visual/bg_stars.gif');
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
}

.pagelayout {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    max-width: 1000px;
}

.headerStyle {
    display: flex;
    font-size: 30px;
    color: blue;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin: 20px; */
    max-width: 700px;
}

.garfieldthumbStyle {
    width: 25%;
    height: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: fit-content;
}

.garfieldfridayimage {
    display: none;
}